<div class="row">
<div class="single-blog">
		<div class="single-blog-image">
			<%= image_tag post.image_file_name, size: '600x200', alt: "#{post.title} Image" %>
		</div><!--//single-blog-image-->
		<h3> <%= post.title %>
			<small class="author">
				by <%= post.user.username.capitalize %> on <%= post.created_at.strftime("%B %d, %Y") %>
			</small>
		</h3>
		<p> <%= raw truncate(post.body, length: 300) %> </p>
		<div class="options">
			<ul>
				<li> <%= link_to 'Read', post %> </li>
				<% if logged_in? %>
					<li> <%= link_to 'Edit', edit_post_path(post) %> </li>
					<li> <%= link_to 'Delete', post, confirm: 'Would you like to delete this?', method: :delete %> </li>
				<% end %>
			</ul>
		</div><!--//options-->
	</div><!--//single-blog-->
</div><!--//row-->
