<%= form_for @post, html: {multipart: true} do |f| %>
	<%= render 'common/form_errors', obj: @post %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %>
		<%= f.text_area :body, class: 'blog-textarea' %>
	</p>
	<p>
		<%= f.label :image %>
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.button 'Submit', class: 'button' %>
	</p>
<% end %>