<div id="about" class="page">

	<div class="eleven columns">
		<div class="inner-about">

			<h2> About our Foundation </h2>

			<div class="about-image">
				<%= image_tag 'http://placekitten.com/g/640/200', size: '640x200', alt: 'About Louise Da-Cocodia Image' %>
			</div><!--//about-image-->

			<h3> <strong>Louise Da-Cocodia</strong> foundation, a little bit about
			who we are and what we do. </h3>

			<div class="row">

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1934</strong>
						<span class="time-line-data">Born Louise Adassa Wright in Church Pen,
						St Catherine, Jamaica on 9 November</span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1989</strong>
						<span class="time-line-data">Awarded an honorary degree of Master of Arts by the
						Victoria University of Manchester for services to nursing and the community</span>
					</p>
				</div><!--//four columns-->

				<div class="two columns year-list">
				<h5>Louise' Timeline</h5>
					<ul>
						<li> <%= link_to '1934', '#' %> </li>
						<li> <%= link_to '1955', '#' %> </li>
						<li> <%= link_to '1963', '#' %> </li>
						<li> <%= link_to '1964', '#' %> </li>
						<li> <%= link_to '1966', '#' %> </li>
						<li> <%= link_to '1968', '#' %> </li>
						<li> <%= link_to '1973', '#' %> </li>
						<li> <%= link_to '1984', '#' %> </li>
						<li> <%= link_to '1986', '#' %> </li>
						<li> <%= link_to '1989', '#' %> </li>
						<li> <%= link_to '1990', '#' %> </li>
						<li> <%= link_to '1992', '#' %> </li>
						<li> <%= link_to '1995', '#' %> </li>
						<li> <%= link_to '1999', '#' %> </li>
						<li> <%= link_to '1999 to 2004', '#' %> </li>
						<li> <%= link_to '2001', '#' %> </li>
						<li> <%= link_to '2003', '#' %> </li>
						<li> <%= link_to '2005', '#' %> </li>
						<li> <%= link_to '2007', '#' %> </li>
					</ul>
				</div><!--//two columns-->


			</div><!--//row-->

			<div class="row">

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1955</strong>
						<span class="time-line-data">Moved to England and trained as a State
						Registered Nurse at St Olaves Hospital, London </span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1990</strong>
						<span class="time-line-data">Nominated to the Manchester Magistrates'
						Bench where she served for 14 years</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1963</strong>
						<span class="time-line-data">Began her 26 year long career with the NHS
						(Berkshire County Council) as a midwife and health visitor </span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1992</strong>
						<span class="time-line-data">Received her BEM (British Empire Medal)</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1964</strong>
						<span class="time-line-data">Married Edward (Ted) Da-Cocodia from Nigeria </span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1995</strong>
						<span class="time-line-data">Received the Manchester Race Award for improving race relations in the city and became a member of General Synod of the Church of England</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1966</strong>
						<span class="time-line-data">Assistant Superintendent of District Nurses, Manchester </span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1999</strong>
						<span class="time-line-data">Deputy Lord Lieutenant for Greater Manchester</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1968</strong>
						<span class="time-line-data">Birth of Richard Da-Cocodia</span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">1999 - 2004</strong>
						<span class="time-line-data">Member of the Court of the University of Manchester, a member of the University's Nominations Committee and the Committee on Relations with the Students' Union</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1973</strong>
						<span class="time-line-data">Birth of Sarah Da-Cocodia</span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">2001</strong>
						<span class="time-line-data">Established Cariocca Education Trust</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1984</strong>
						<span class="time-line-data">Chairperson of the West Indian Organisation Co-ordinating Committee (WIOCC), going on to serve for three terms</span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">2003</strong>
						<span class="time-line-data">Patron of the Nigerian Women's Group, Manchester</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1986</strong>
						<span class="time-line-data">Co-founder of Cariocca Enterprise Ltd, offering premises and support for new and small businesses in Manchester</span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">2005</strong>
						<span class="time-line-data">Received an MBE (Membership of the British Empire) for her tireless services to the local community</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<div class="four columns time-block">
					<p>
						<strong class="time-line">1989</strong>
						<span class="time-line-data">Ended her distinguished career as a Senior Nursing Officer in Tameside. Subsequently a self-employed Project Consultant and also an Associate Consultant at the North West Regional Health Authority in their Training Division </span>
					</p>
				</div><!--//four columns-->

				<div class="four columns time-block">
					<p>
						<strong class="time-line">2007</strong>
						<span class="time-line-data">Appointed a Lay Canon by Manchester Cathedral</span>
					</p>
				</div><!--//four columns-->
			</div><!--//row-->

			<div class="row">
				<h4> Other notable duties and accomplishments </h4>
				<ul class="achievements">
					<li>Non-Executive member of Manchester Health Authority</li>
					<li>Commissioner for Racial Justice</li>
					<li>Assessor for the Manchester County Courts</li>
					<li>Member of the Executive Board at Christian Aid</li>
					<li>Board Member for Manchester Metropolitan University</li>
					<li>Founding member of Arawak Walton Housing Association</li>
					<li>Member of the Governing board for City College Manchester</li>
					<li>Founding member of Moss Side and Hulme Women's Action Forum</li>
					<li>Governor of Trinity High School</li>
					<li>Founding member of African-Caribbean Care Group for the Elderly</li>
					<li>Governor at St Chrysostoms Church of England Primary School</li>
					<li>Founding member of the Agency for Economic Development in Manchester</li>
					<li>Crown Prosecution Service Inspectorate (Lay Inspector)</li>
					<li>Deputy Chair for the Manchester Council for Voluntary Service</li>
				</ul>
			</div><!--//row-->

		</div><!--//inner-about-->
	</div><!--//-->

	<div class="four columns sidebar">
		<h2> Sidebar </h2>
		<p>
			If you'd like to become more involved with our foundation, please check out the links below.
		</p>

		<h3> Search </h3>
		<form action="#">
			<p><input type="text" name="search"></p>
			<p><button class="button">Search</button></p>
		</form>

		<h3> More Links </h3>
		<ul>
			<li><%= link_to 'Donate', about_donate_path %></li>
			<li><%= link_to 'Objectives', about_objectives_path %></li>
			<li><%= link_to 'Volunteering', about_volunteering_path %></li>
		</ul>

		<h3>Recent Posts</h3>
		<div class="blog-recent-sidebar">
			<div class="blog-item">
				<h5> Hello, Louise! </h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... <%= link_to '[Read]', '#' %></p>
			</div>

			<div class="blog-item">
				<h5> A New Start </h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... <%= link_to '[Read]', '#' %></p>
			</div>

			<div class="blog-item">
				<h5> First Post! </h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... <%= link_to '[Read]', '#' %></p>
			</div>
		</div>
	</div><!--//-->

</div><!--//page-->