<div class="page">

	<%= image_tag 'history-image.png', size: '920x300' %>

	<div class="sub_heading">
		<h2> The History of our Foundation </h2>
		<span class="line"></span>
	</div><!--//sub_heading-->

	<div class="history row">

		<div class="row timeline">
			<ul>
				<li> <%= link_to '1934', '#1934' %> </li>
				<li> <%= link_to '1955', '#1955' %> </li>
				<li> <%= link_to '1963', '#1963' %> </li>
				<li> <%= link_to '1964', '#1964' %> </li>
				<li> <%= link_to '1966', '#1966' %> </li>
				<li> <%= link_to '1968', '#1968' %> </li>
				<li> <%= link_to '1973', '#1973' %> </li>
				<li> <%= link_to '1984', '#1984' %> </li>
				<li> <%= link_to '1986', '#1986' %> </li>
				<li> <%= link_to '1989', '#1989' %> </li>
				<li> <%= link_to '1990', '#1990' %> </li>
				<li> <%= link_to '1992', '#1992' %> </li>
				<li> <%= link_to '1995', '#1995' %> </li>
				<li> <%= link_to '1999', '#1999' %> </li>
				<li> <%= link_to '1999 - 2004', '#1999-2004' %> </li>
				<li> <%= link_to '2001', '#2001' %> </li>
				<li> <%= link_to '2003', '#2003' %> </li>
				<li> <%= link_to '2005', '#2005' %> </li>
				<li> <%= link_to '2007', '#2007' %> </li>
			</ul>
		</div><!--//row timeline-->

		<div class="blocks-in-time">
			<div class="row">

					<div class="four columns time-block" id="1934">
						<p>
							<strong class="time-line">1934</strong>
							<span class="time-line-data">Born Louise Adassa Wright in Church Pen,
							St Catherine, Jamaica on 9 November</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1955">
						<p>
							<strong class="time-line">1955</strong>
							<span class="time-line-data">Moved to England and trained as a State
							Registered Nurse at St Olaves Hospital, London </span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1963">
						<p>
							<strong class="time-line">1963</strong>
							<span class="time-line-data">Began her 26 year long career with the NHS
							(Berkshire County Council) as a midwife and health visitor </span>
						</p>
					</div><!--//four columns-->

				</div><!--//row-->

				<div class="row">
					<div class="four columns time-block" id="1964">
						<p>
							<strong class="time-line">1964</strong>
							<span class="time-line-data">Married Edward (Ted) Da-Cocodia from Nigeria </span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1966">
						<p>
							<strong class="time-line">1966</strong>
							<span class="time-line-data">Assistant Superintendent of District Nurses, Manchester </span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1968">
						<p>
							<strong class="time-line">1968</strong>
							<span class="time-line-data">Birth of Richard Da-Cocodia</span>
						</p>
					</div><!--//four columns-->
				</div><!--//row-->

				<div class="row">
					<div class="four columns time-block" id="1973">
						<p>
							<strong class="time-line">1973</strong>
							<span class="time-line-data">Birth of Sarah Da-Cocodia</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1984">
						<p>
							<strong class="time-line">1984</strong>
							<span class="time-line-data">Chairperson of the West Indian Organisation Co-ordinating Committee (WIOCC), going on to serve for three terms</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1986">
						<p>
							<strong class="time-line">1986</strong>
							<span class="time-line-data">Co-founder of Cariocca Enterprise Ltd, offering premises and support for new and small businesses in Manchester</span>
						</p>
					</div><!--//four columns-->
				</div><!--//row-->

				<div class="row">

					<div class="four columns time-block" id="1989">
						<p>
							<strong class="time-line">1989</strong>
							<span class="time-line-data">Ended her distinguished career as a Senior Nursing Officer in Tameside. Subsequently a self-employed Project Consultant and also an Associate Consultant at the North West Regional Health Authority in their Training Division </span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1990">
						<p>
							<strong class="time-line">1990</strong>
							<span class="time-line-data">Nominated to the Manchester Magistrates'
							Bench where she served for 14 years</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1992">
						<p>
							<strong class="time-line">1992</strong>
							<span class="time-line-data">Received her BEM (British Empire Medal)</span>
						</p>
					</div><!--//four columns-->

				</div><!--//row-->

				<div class="row">
					<div class="four columns time-block" id="1995">
						<p>
							<strong class="time-line">1995</strong>
							<span class="time-line-data">Received the Manchester Race Award for improving race relations in the city and became a member of General Synod of the Church of England</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1999">
						<p>
							<strong class="time-line">1999</strong>
							<span class="time-line-data">Deputy Lord Lieutenant for Greater Manchester</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="1999-2004">
						<p>
							<strong class="time-line">1999 - 2004</strong>
							<span class="time-line-data">Member of the Court of the University of Manchester, a member of the University's Nominations Committee and the Committee on Relations with the Students' Union</span>
						</p>
					</div><!--//four columns-->
				</div><!--//row-->

				<div class="row">
					<div class="four columns time-block" id="2001">
						<p>
							<strong class="time-line">2001</strong>
							<span class="time-line-data">Established Cariocca Education Trust</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" id="2003">
						<p>
							<strong class="time-line">2003</strong>
							<span class="time-line-data">Patron of the Nigerian Women's Group, Manchester</span>
						</p>
					</div><!--//four columns-->

					<div class="four columns time-block" is="2005">
						<p>
							<strong class="time-line">2005</strong>
							<span class="time-line-data">Received an MBE (Membership of the British Empire) for her tireless services to the local community</span>
						</p>
					</div><!--//four columns-->
				</div><!--//row-->

				<div class="row">
					<div class="four columns time-block" id="2007">
						<p>
							<strong class="time-line">2007</strong>
							<span class="time-line-data">Appointed a Lay Canon by Manchester Cathedral</span>
						</p>
					</div><!--//four columns-->
        </div><!--//row-->

        <div class="row accomplishments">
          <h3> Other notable duties and accomplishments </h3>
          <ul>
            <li> Non-Executive member of Manchester Health Authority </li>
            <li> Commissioner for Racial Justice </li>
            <li> Assessor for the Manchester County Courts </li>
            <li> Member of the Executive Board at Christian Aid </li>
            <li> Board Member for Manchester Metropolitan University </li>
            <li> Founding member of Arawak Walton Housing Association </li>
            <li> Member of the Governing board for City College Manchester </li>
            <li> Founding member of Moss Side and Hulme Women's Action Forum </li>
            <li> Governor of Trinity High School </li>
            <li> Founding member of African-Caribbean Care Group for the Elderly </li>
            <li> Governor at St Chrysostoms Church of England Primary School </li>
            <li> Founding member of the Agency for Economic Development in Manchester </li>
            <li> Crown Prosecution Service Inspectorate (Lay Inspector) </li>
            <li> Deputy Chair for the Manchester Council for Voluntary Service </li>
          </ul>
        </div><!--//row-->

			</div><!--//history row-->
		</div><!--//blocks-in-time-->

</div><!--//page-->
