<h2> Sidebar </h2>

<div class="sidebar-image">
	<%= image_tag 'louise-da-cocodia.jpg' %>
</div><!--//sidebar-image-->

<p>
	If you'd like to become more involved with our foundation, please check out the links below.
</p>

<h3> More Links </h3>
<ul>
	<li><%= link_to 'Donate', about_donate_path %></li>
	<li><%= link_to 'Objectives', about_objectives_path %></li>
	<li><%= link_to 'Volunteering', about_volunteering_path %></li>
</ul>

<h3>Recent Posts</h3>
<div class="blog-recent-sidebar">
	<% @posts.each do |p| %>
	<div class="blog-item">
		<h5> <%= p.title %> </h5>
		<p> <%= truncate(p.body, length: 90) %> <%= link_to '[read]', "#{blog_path}/id/#{p.id}" %> </p>
	</div>
	<% end %>
</div>