<!DOCTYPE html>
<html lang="en">
<head>
	<!--// Meta Information -->
	<meta charset="utf-8">
	<title> <%= page_title %> </title>
	<meta name="description" content="">
	<meta name="author" content="John Crossley">

	<!--// Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--// CSS -->
	<%= stylesheet_link_tag    "application", :media => "all" %>

	<!--// Protect from CSRF -->
	<%= csrf_meta_tags %>

	<!--// Get the shim on the scene -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--// Favicon -->
	<%= favicon_link_tag 'favicon.ico' %>

	<%=
	# Render the google analytics partial if we are in production mode.
	render 'common/google_analytics' if Rails.env == 'production'
	%>

</head>
<body>

	<header>
		<div class="container">
			<%= render 'common/nav' %>
			<aside class="user-section">
				<ul>
					<% if logged_in? %>
						<span>Welcome, </span> <%= "#{current_user.username.capitalize}" %> |
						<%= link_to 'Add Post', blog_new_path %> |
						<%= link_to 'Add Event', '' %> |
						<%= link_to 'Logout?', logout_path, method: :delete %>
					<% else %>
						<li> <%= link_to 'login', login_path %> </li>
					<% end %>
				</ul>
			</aside>
		</div><!--//container-->
	</header>

	<section class="page_heading home row">
		<div class="logo container">
			<h1>
				<%= image_tag 'small-logo.png', size: '52x53', alt: 'Louise Da-Cocodia Logo' %>
				<%= link_to 'Louise Da-Cocodia', root_path %>
				<span class="tag_line">Making Education a Priority</span>
			</h1>
		</div><!--//logo container-->
	</section>

	<div id="home" class="page_wrapper">
		<section class="container">

			<%=
			# Here is the magic of rails Richard. We call the yield method and this
			# is where all of our contect located in the views file will be loaded.
			yield
			%>

		</section><!--//container-->
	</div><!--//home page_wrapper-->

	<footer>
		<div class="container">

			<div class="one-third column">
				<h5> Charity Information </h5>
				<p> To promote inclusion by increasing the opportunities for people from disadvantaged backgrounds, with particular reference to african caribbean's by providing structured projects which will have direct impact on the educational achievements of young people. </p>

				<p><strong>Registered Charity: <%= link_to '1085379', 'http://www.charity-commission.gov.uk/SHOWCHARITY/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=1085379&SubsidiaryNumber=0' %></strong></p>
			</div><!--//one-third column-->

			<div class="one-third column">
				<h5> Our twitter Feed </h5>
				<div id="twitter"></div>
			</div><!--//one-third column-->

			<div class="one-third column">
				<h5> Our Location </h5>
				<p>
					If you'd like to get in touch with us, you can simply use our
					<%= link_to 'contact form', contact_path %> or use the address provided.
				</p>
				<address>
					<p>
						<strong>The Louise Da-Cocodia Education Trust</strong><br>
						<span>4 Westerling Way</span><br>
						<span>Moss Side, Manchester</span><br>
						<span>M16 7EA</span>
					</p>
				</address>
			</div><!--//one-third column-->

			<div class="row copyright">
				<small>
					&copy; <%= Date.today.year %> -
					The Louise Da-Cocodia Foundation -
					All rights reserved. - by <%= link_to 'phpcodemonkey', 'http://phpcodemonkey.com/' %>
				</small>
			</div>

		</div><!--//row container-->

	</footer>

	<%= javascript_include_tag "application" %>
</body>
</html>